{% extends 'menu/base.html' %}

{% block content %}
    <div class="menu">
        {% if menu.created_date %}
            <div class="date">
                <strong>Created:</strong>
                {{ menu.created_date }}
                <strong>Modified:</strong>
                {{ menu.modified_date}}
            </div>
        {% endif %}
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'menu_edit' pk=menu.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        <h2>{{ menu.title }}</h2>
        <p>{{ menu.description|linebreaksbr }}</p>
    </div>
{% endblock %}