{% extends 'menu/base.html' %}
{% block content %}
    <form method="get">
        <select name="sort">
            <option selected disabled>Sort by:</option>
            <option value="count">Count of dishes</option>
            <option value="-count">-Count of dishes</option>
            <option value="name">Name</option>
            <option value="-name">-Name</option>
        </select>
        <input type="submit" value="OK">
    </form>
    {% for menu in menus %}
        <div class="menu">
            <div class="date">
                <strong>Created:</strong>
                {{ menu.created_date }}
                <strong>Modified:</strong>
                {{ menu.modified_date }}
            </div>
            <h1><a href="{% url 'menu_detail' pk=menu.pk %}">{{ menu.title }}</a></h1>
            <p><i>{{ menu.description|linebreaksbr }}</i></p>

            {% for food in menu.food.all %}
                <h3><i><p>{{ food.title }}</p></i></h3>
                <p>{{ food.description }}</p>
                {% if food.vegan == True %}
                    <strong>Vegan dish</strong>
                {% else %}
                    <strong>Not vegan dish</strong>
                {% endif %}
                <p><strong>Price:</strong> {{ food.price }} zł </p>
                {% if food.image %}
                    <img src="{{ food.image.url }}" width="200" height="200">
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

    <div class="pagination">
        {% for i in paginator.page_range %}
            <li {% if i == number_page %} active {% endif %}>
                <a href="?page={{ i }}">{{i}}</a>
            </li>
        {% endfor %}
    </div>
{% endblock %}
